ul.products li.product img {
    height: auto !important;
    max-width: 100%;
    max-height: 280px;
    width: auto !important;
}

.woocommerce-loop-product__title {
    font-weight: 600 !important;
}
